.root {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 200px;
}

.container {
  border: 1px solid transparent;
  width: 300px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    background-size: contain;
  }
}

.name {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem 0;
}

.description {
  text-align: center;
  margin: 1rem 0;
}

.intro {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin: 0 .4rem;
    a {
      overflow: hidden;
      display: inherit;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
}
