@import 'styles/variables';

.root {
  padding: 0 1rem;
}

.container {
  margin: 0 auto;
  background: white;
  box-sizing: border-box;
  max-width: var(--max-content-width);
  border-radius: 4px;
}

.postContainer {
  /*width: 70%;*/
}

.postItem + .postItem{
  border-top: 1px solid var(--color-border);
}
.postItem {
  padding: 2rem 0;
}

.postTitle {
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
  a {
    color: var(--color-font-dark);
  }
}

.postDesc {
  text-align: justify;
  line-height: 1.8rem;
  * {
    font-size: .9rem !important;
  }
}

.postInfo {
  width: 70px;
  margin: 1.5rem auto;
  padding: .3rem;
  border: 1px solid var(--color-border);
  text-align: center;
  font-size: .8rem
}
