@import 'styles/variables';

:root {
  --color-logo: var(--color-font-default);
}

.root {
  background: var(--color-transparent-default);
  height: 50px;
  position: relative;
  z-index: 1;
}

.container {
  width: 100%;
  position: fixed;
  top: 0;
  line-height: 30px;
  vertical-align: middle;
  margin: 0 auto;
  padding: 10px 0;
  background: var(--color-transparent-default);
  border-bottom: 1px solid var(--color-border);

  position: fixed;
  top: -50px;
  left: 0;
  transition: all .5s ease;
  transform: translate3d(0,50px,0);
}

.logo {
}

.logoTxt {
  margin-left: 10px;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-logo);
}

.hidden {
  transform: translate3d(0,-50px,0);
}
