@import 'styles/variables';

.container {
  text-align: center;
  margin: 1rem auto 0 auto;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  background: var(--color-white);
  max-width: var(--max-content-width);
}
.title {
  margin: 3rem 01
}
.content {
  padding: 0 .5rem;
  text-align: left;
  line-height: 2rem;
  font-size: 1.08rem;
  img {
    max-width: 100%;
  }
}

@media (--small-viewport) {
  .container {
    padding: 0
  }
}
